{% extends "browse/base.html" %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

<head>

</head>
<body>
    <div>
        <div>
            <h1>
                Login
            </h1>
            <div>
                Username
            </div>
            <div>
                Password
            </div>
            <div>
                <button>
                    Login
                </button>
            </div>
            <div>
                Forgot Password?
            </div>
            
        </div>
        <div>
            <h1>
                Register
            </h1>
            <div>
                First Name
            </div>
            <div>
                Last Name
            </div>
            <div>
                Email Address
            </div>
            <div>
                Password
            </div>
            <div>
                Password Confirm
            </div>
            <div>
                <button>
                    Register
                </button>
            </div>
        </div>
    </div>
</body>